.idea
.vscode
.idea
*bin
*obj
*Migrations
*appsettings.local.Development.json
.DS_Store
README.md

# Nuxt dev/build outputs
*.output
*.data
*.nuxt
*.nitro
*.cache
*dist

# Node dependencies
*node_modules

# Logs
*logs
*.log

# Misc
*.DS_Store
*.fleet
*.idea

# Local env files
*.env
*.env.*
*!.env.example

*__azurite_db_blob__.json
*__azurite_db_blob_extent__.json
*__blobstorage__