@if(!string.IsNullOrEmpty(Error))
{
    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400">
        <span class="font-medium">@Error</span>
    </div>
}



@code {
    [Parameter]
    public string? Error { get; set;} = string.Empty;
}
