<a href="/" class="flex ml-2 md:mr-24">
    <img src="https://flowbite-admin-dashboard.vercel.app/images/logo.svg" class="h-8 mr-3" alt="GroomerManager Logo">
    <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">
        @Title
    </span>
</a>

@code {
    [Parameter]
    public string Title { get; set; }
}